<a href="https://colab.research.google.com/github/ishank0goyal4/Loan-Prediction-Model/blob/main/Loan_prediction_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data preprocessing

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:
dataset = pd.read_csv('train_ctrUa4K (1).csv')
testset = pd.read_csv('test_lAUu6dG (1).csv')
X_train = dataset.iloc[: , 1:-1].values
y_train = dataset.iloc[: , -1].values
X_test = testset.iloc[: , 1:].values
id =testset.iloc[: , 0].values
print(pd.DataFrame(X_train))
print(pd.DataFrame(X_test)) 
print(pd.DataFrame(id))

          0    1    2             3    4     5     6    7    8    9         10
0      Male   No    1      Graduate   No  5849     0  NaN  360    1      Urban
1       NaN  NaN    1           NaN   No   NaN  1508  NaN  360  NaN      Rural
2      Male  Yes  NaN      Graduate  NaN  3000   NaN   66  NaN    1        NaN
3      Male  Yes    0  Not Graduate   No  2583  2358  120  360    1      Urban
4      Male   No    0      Graduate   No  6000     0  141  360    1      Urban
..      ...  ...  ...           ...  ...   ...   ...  ...  ...  ...        ...
609  Female   No    0      Graduate   No  2900     0   71  360    1      Rural
610    Male  Yes   3+      Graduate   No  4106     0   40  180    1      Rural
611    Male  Yes    1      Graduate   No  8072   240  253  360    1      Urban
612    Male  Yes    2      Graduate   No  7583     0  187  360    1      Urban
613  Female   No    0      Graduate  Yes  4583     0  133  360    0  Semiurban

[614 rows x 11 columns]
        0    1    2             3    4     5     6    7    8    9         10
0     NaN  NaN    0           NaN   No   NaN     0  NaN  360  NaN      Urban
1    Male  Yes  NaN      Graduate  NaN  3076   NaN  126  NaN    1        NaN
2    Male  Yes    2      Graduate   No  5000  1800  208  360    1      Urban
3    Male  Yes    2      Graduate   No  2340  2546  100  360  NaN      Urban
4    Male   No    0  Not Graduate   No  3276     0   78  360    1      Urban
..    ...  ...  ...           ...  ...   ...   ...  ...  ...  ...        ...
362  Male  Yes   3+  Not Graduate  Yes  4009  1777  113  360    1      Urban
363  Male  Yes    0      Graduate   No  4158   709  115  360    1      Urban
364  Male   No    0      Graduate   No  3250  1993  126  360  NaN  Semiurban
365  Male  Yes    0      Graduate   No  5000  2393  158  360    1      Rural
366  Male   No    0      Graduate  Yes  9200     0   98  180    1      Rural

[367 rows x 11 columns]
            0
0    LP001015
1    LP001022
2    LP001031
3    LP001035
4    LP001051
..        ...
362  LP002971
363  LP002975
364  LP002980
365  LP002986
366  LP002989

[367 rows x 1 columns]

# Missing Data

In [ ]:
from sklearn.impute import SimpleImputer
imp_train = SimpleImputer(missing_values=np.nan,strategy='most_frequent' )
imp_train.fit(X_train[:, :5])
X_train[:, :5] = imp_train.transform(X_train[:, :5])

In [ ]:
imp_train_1 = SimpleImputer(missing_values=np.nan,strategy='mean' )
imp_train_1.fit(X_train[: , 5:9])
X_train[:, 5:9] = imp_train_1.transform(X_train[: , 5:9])

In [ ]:
imp_train_2 = SimpleImputer(missing_values=np.nan,strategy='most_frequent' )
imp_train_2.fit(X_train[: , 8:])
X_train[:, 8:] = imp_train_2.transform(X_train[: , 8:])
print(pd.DataFrame(X_train))

         0    1   2             3    4   ...       6        7       8  9          10
0      Male   No   1      Graduate   No  ...        0  146.443     360  1      Urban
1      Male  Yes   1      Graduate   No  ...     1508  146.443     360  1      Rural
2      Male  Yes   0      Graduate   No  ...  1623.89       66  341.97  1  Semiurban
3      Male  Yes   0  Not Graduate   No  ...     2358      120     360  1      Urban
4      Male   No   0      Graduate   No  ...        0      141     360  1      Urban
..      ...  ...  ..           ...  ...  ...      ...      ...     ... ..        ...
609  Female   No   0      Graduate   No  ...        0       71     360  1      Rural
610    Male  Yes  3+      Graduate   No  ...        0       40     180  1      Rural
611    Male  Yes   1      Graduate   No  ...      240      253     360  1      Urban
612    Male  Yes   2      Graduate   No  ...        0      187     360  1      Urban
613  Female   No   0      Graduate  Yes  ...        0      133     360  0  Semiurban

[614 rows x 11 columns]

In [ ]:
imp_test = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp_test.fit(X_test[:, :5])
X_test[:, :5]= imp_test.transform(X_test[:, :5])

In [ ]:
imp_test_1 = SimpleImputer(missing_values=np.nan,strategy='mean' )
imp_test_1.fit(X_test[: , 5:9])
X_test[:, 5:9] = imp_test_1.transform(X_test[: , 5:9])

In [ ]:
imp_test_2 = SimpleImputer(missing_values=np.nan,strategy='most_frequent' )
imp_test_2.fit(X_test[: , 8:])
X_test[:, 8:] = imp_test_2.transform(X_test[: , 8:])
print(pd.DataFrame(X_test))

       0    1   2             3    4   ...       6        7        8  9          10
0    Male  Yes   0      Graduate   No  ...        0  136.205      360  1      Urban
1    Male  Yes   0      Graduate   No  ...  1569.77      126  342.489  1      Urban
2    Male  Yes   2      Graduate   No  ...     1800      208      360  1      Urban
3    Male  Yes   2      Graduate   No  ...     2546      100      360  1      Urban
4    Male   No   0  Not Graduate   No  ...        0       78      360  1      Urban
..    ...  ...  ..           ...  ...  ...      ...      ...      ... ..        ...
362  Male  Yes  3+  Not Graduate  Yes  ...     1777      113      360  1      Urban
363  Male  Yes   0      Graduate   No  ...      709      115      360  1      Urban
364  Male   No   0      Graduate   No  ...     1993      126      360  1  Semiurban
365  Male  Yes   0      Graduate   No  ...     2393      158      360  1      Rural
366  Male   No   0      Graduate  Yes  ...        0       98      180  1      Rural

[367 rows x 11 columns]

# Encoding

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
ct = make_column_transformer((OneHotEncoder(), [0,1,2,3,4,9,10]), remainder='passthrough')
X_train = ct.fit_transform(X_train)
print(pd.DataFrame(X_train))

    0  1  2  3  4  5  6  7  8   ... 12 13 14 15 16      17       18       19      20
0    0  1  1  0  0  1  0  0  1  ...  0  1  0  0  1    5849        0  146.443     360
1    0  1  0  1  0  1  0  0  1  ...  0  1  1  0  0  5404.8     1508  146.443     360
2    0  1  0  1  1  0  0  0  1  ...  0  1  0  1  0    3000  1623.89       66  341.97
3    0  1  0  1  1  0  0  0  0  ...  0  1  0  0  1    2583     2358      120     360
4    0  1  1  0  1  0  0  0  1  ...  0  1  0  0  1    6000        0      141     360
..  .. .. .. .. .. .. .. .. ..  ... .. .. .. .. ..     ...      ...      ...     ...
609  1  0  1  0  1  0  0  0  1  ...  0  1  1  0  0    2900        0       71     360
610  0  1  0  1  0  0  0  1  1  ...  0  1  1  0  0    4106        0       40     180
611  0  1  0  1  0  1  0  0  1  ...  0  1  0  0  1    8072      240      253     360
612  0  1  0  1  0  0  1  0  1  ...  0  1  0  0  1    7583        0      187     360
613  1  0  1  0  1  0  0  0  1  ...  1  0  0  1  0    4583        0      133     360

[614 rows x 21 columns]

In [ ]:
ctt = make_column_transformer(( OneHotEncoder(), [0,1,2,3,4,9,10]), remainder='passthrough')
X_test = ctt.fit_transform(X_test)
print(pd.DataFrame(X_test))

    0  1  2  3  4  5  6  7   ... 13 14 15 16      17       18       19       20
0    0  1  0  1  1  0  0  0  ...  1  0  0  1  4803.1        0  136.205      360
1    0  1  0  1  1  0  0  0  ...  1  0  0  1    3076  1569.77      126  342.489
2    0  1  0  1  0  0  1  0  ...  1  0  0  1    5000     1800      208      360
3    0  1  0  1  0  0  1  0  ...  1  0  0  1    2340     2546      100      360
4    0  1  1  0  1  0  0  0  ...  1  0  0  1    3276        0       78      360
..  .. .. .. .. .. .. .. ..  ... .. .. .. ..     ...      ...      ...      ...
362  0  1  0  1  0  0  0  1  ...  1  0  0  1    4009     1777      113      360
363  0  1  0  1  1  0  0  0  ...  1  0  0  1    4158      709      115      360
364  0  1  1  0  1  0  0  0  ...  1  0  1  0    3250     1993      126      360
365  0  1  0  1  1  0  0  0  ...  1  1  0  0    5000     2393      158      360
366  0  1  1  0  1  0  0  0  ...  1  1  0  0    9200        0       98      180

[367 rows x 21 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)
print(y_train)

[1 0 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 1 0 1 0
 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 1 0 1 1 1 1 0 0 0 0 0 1 1 0 1 1 1 0
 1 0 0 0 0 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1
 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 0 1 0 0 0 1 1 1 1 1 1 1
 0 1 0 1 0 0 1 1 1 1 1 1 1 0 0 1 1 1 0 1 0 1 1 1 0 1 0 1 1 0 1 0 0 0 1 0 1
 1 0 1 1 1 1 0 0 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 1 0 1 0 1
 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 1 0 0 1 1 0 1 0 0 0
 0 1 1 0 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1
 1 1 0 0 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1
 1 1 1 1 1 0 1 0 0 1 1 1 1 0 1 1 1 1 0 1 0 1 1 1 0 0 1 0 1 1 1 1 0 0 0 1 0
 1 1 1 0 1 1 1 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 0 0 0 1 1 0 1 1
 1 0 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 1
 1 1 1 0 0 0 0 1 0 1 1 1 1 0 1 0 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 1 1 0 1 0 1
 1 1 1 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 1 1 0 0 1 1 0
 0 0 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1 1 1 0 1 0 1 0 1 1 0 0
 1 1 1 1 1 1 1 1 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 1 1 0 1 0 0 0 1 1 1 0 1 0
 1 1 1 1 0 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0]

# Feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train[: , 17:] = sc.fit_transform(X_train[: , 17:])
print(pd.DataFrame(X_train))
X_test[: , 17:] = sc.transform(X_test[: , 17:])
print(pd.DataFrame(X_test))

    0  1  2  3  4  5   ... 15 16         17           18           19           20
0    0  1  1  0  0  1  ...  0  1  0.0727726    -0.555531  6.76984e-16     0.280336
1    0  1  0  1  0  1  ...  0  0          0    -0.039646  6.76984e-16     0.280336
2    0  1  0  1  1  0  ...  1  0  -0.393972 -7.77843e-17     -0.95805 -8.83815e-16
3    0  1  0  1  1  0  ...  0  1  -0.462289     0.251138     -0.31493     0.280336
4    0  1  1  0  1  0  ...  0  1  0.0975106    -0.555531   -0.0648278     0.280336
..  .. .. .. .. .. ..  ... .. ..        ...          ...          ...          ...
609  1  0  1  0  1  0  ...  0  0  -0.410355    -0.555531    -0.898501     0.280336
610  0  1  0  1  0  0  ...  0  0  -0.212779    -0.555531      -1.2677     -2.51835
611  0  1  0  1  0  1  ...  0  1   0.436962    -0.473427      1.26905     0.280336
612  0  1  0  1  0  0  ...  0  1    0.35685    -0.555531     0.483015     0.280336
613  1  0  1  0  1  0  ...  1  0  -0.134633    -0.555531    -0.160105     0.280336

[614 rows x 21 columns]
    0  1  2  3  4  5  6   ... 14 15 16         17         18        19          20
0    0  1  0  1  1  0  0  ...  0  0  1 -0.0985746  -0.555531 -0.121935    0.280336
1    0  1  0  1  1  0  0  ...  0  0  1  -0.381522 -0.0185154 -0.243472  0.00806859
2    0  1  0  1  0  0  1  ...  0  0  1 -0.0663171  0.0602468  0.733117    0.280336
3    0  1  0  1  0  0  1  ...  0  0  1  -0.502099   0.315453 -0.553122    0.280336
4    0  1  1  0  1  0  0  ...  0  0  1  -0.348756  -0.555531 -0.815134    0.280336
..  .. .. .. .. .. .. ..  ... .. .. ..        ...        ...       ...         ...
362  0  1  0  1  0  0  0  ...  0  0  1   -0.22867  0.0523786 -0.398297    0.280336
363  0  1  0  1  1  0  0  ...  0  0  1   -0.20426  -0.312983 -0.374478    0.280336
364  0  1  1  0  1  0  0  ...  0  1  0  -0.353015   0.126272 -0.243472    0.280336
365  0  1  0  1  1  0  0  ...  1  0  0 -0.0663171   0.263112  0.137636    0.280336
366  0  1  1  0  1  0  0  ...  1  0  0   0.621759  -0.555531 -0.576942    -2.51835

[367 rows x 21 columns]

#Traning

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [ ]:
y_predb = classifier.predict(X_test)

print(y_predb)
y_pred = []

print(y_predb.size)
for i in range(0,len(y_predb)):
  if y_predb[i] == 1:
    y_pred.append('Y')
  else:
    y_pred.append('N')

y_preda = np.array(y_pred)
print(y_preda)

[0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1
 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 0 1 0 1 1 1 0 1 1 1 0 0 1 1 0 1 1 0 1 1 1 0
 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0
 1 1 1 1 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 1 0 1 0
 1 0 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 1 0 1 1 1 0 0 0 1 1 1 0 1 1 1 1 0 1
 1 0 1 0 0 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 0 1 0 1 1
 1 0 0 1 1 1 1 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 1 0 1 1 0 1 0 1 1 1 1 0 1 1 1
 1 0 1 1 1 1 1 0 1 0 1 1 0 0 1 0 1 1 1 0 0 1 1 1 0 1 1 1 1 0 1 1 1 1 0 1 1
 1 0 1 1 1 0 0 0 1 0 1 1 1 1 0 0 1 0 0 0 1 0 1 1 0 0 1 0 1 1 1 1 1 1 1 1 0
 1 1 1 1 1 1 0 1 0 0 0 1 1 0 1 0 1 1 0 1 1 0 0 1 1 0 0 1 1 1 1 1 1 1]
367
['N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y'
 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'N' 'N' 'N' 'Y' 'Y' 'N' 'N' 'Y'
 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'N' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'N' 'N' 'Y' 'N' 'N' 'N' 'Y' 'Y' 'N' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'N' 'Y' 'Y'
 'N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N'
 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N' 'Y'
 'Y' 'N' 'N' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y'
 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'N' 'N' 'N' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'N' 'N' 'Y' 'N' 'N' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'N'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'N'
 'N' 'N' 'Y' 'Y' 'N' 'Y' 'N' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'N'
 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y']

In [ ]:
solution = np.concatenate((id.reshape(len(id),1), y_preda.reshape(len(y_preda),1)),1)
sol = pd.DataFrame(solution)
sol.to_csv('/content/sample_submission_49d68Cx2DTC.csv', index = False)